---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        ¡Hola! Soy Erick <a
          href="https://www.linkedin.com/in/erick-santiago-rodriguez-reinoso/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-xl opacity-80">Ingeniero de Sistemas y Desarrollador Backend de Ibagué, Colombia 🇨🇴.</h2>
      <ul></ul>
    </section>
  </main>
</Layout>
