---
import { date } from 'astro:schema';
import ExperienceItem from './icons/ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: '19/05/2025',
    title: 'holaaaaaaaaaaaaaa',
    description: 'estamos aquiiiiiiiiiiiiiiiiiiiiiiii',
    link: '#',
  },
  // {
  //   date: '',
  //   title: '',
  //   description: '',
  //   link: '#',
  // },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
        {/* <p class="text-xl">Muy pronto...</p> */}
      </li>
    ))
  }
</ol>
