---
const PROJECTS = [
  {
    title: 'Api',
    description: 'lorem ipsum dolor sit amet, consectetur adipiscing elit.',
    link: '#',
    github: '#',
    image: '',
    tags: ['Java', 'Spring Boot'],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3>{title}</h3>
      <p>{description}</p>
      <ul>
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      <img src="" alt={`Captura de pantalla del proyecto ${image}`} />
    </article>
  ))
}
